@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');



body {
    background-image: url(img/atras.jpeg);
}
h1{
    font-family: Playfair Display SC, serif ;
    color: rgb(123, 47, 4);
}

h2, h3, a{
    font-family: Noto Serif, serif ;
}

p{
    font-family: Noto Serif, serif ;
    font-weight: 200;
}